@import "tailwindcss";

@keyframes memorial-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 500, 700;
  font-style: normal;
}